<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => 'Add On Mall Price Variants'} %>

<% content_for :page_title do %>
  <%= t("add_on.listing_add_on_mall_prices") %>
<% end %>

<% if @add_on_malls.empty? %>
  <%= t('add_on.mall_is_not_registered_yet') %><br>
  <%= link_to t('add_on.please_create_add_on_malls'), new_admin_add_on_mall_path %>
<% else %>

  <%= paginate @variant %>

  <table class='index'>
    <thead>
      <tr>
        <th><%= t("activerecord.attributes.variant.id") %></th>
        <th><%= Spree.t(:options) %></th>
        <th><%= Spree.t(:price) %></th>
        <th><%= Spree.t(:sku) %></th>
      </tr>
    </thead>

    <tbody>
      <% for variant in @variant %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td class="align-center"><%= variant.id %></td>
          <td class="align-center"><%= variant.options_text %></td>
          <td class="align-center"><%= variant.price %></td>
          <td class="align-center"><%= variant.sku %></td>

          <% if variant.add_on_mall_prices.empty? %>
          <td class="actions"><%= link_to t("edit"), ("/admin/products/" + params[:product_id] + "/variants/#{variant.id}/add_on_mall_prices/new") , :class => 'edit' %></td>
          <% else %>
          <td class="actions"><%= link_to t("edit"), ("/admin/products/" + params[:product_id] + "/variants/#{variant.id}/add_on_mall_prices/edit") , :class => 'edit' %></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
